.sidebar {
    position: fixed;
    top: 12vh;
    left: 0;
    width: 250px;
    height: calc(100vh - 12vh);
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-item {
    margin-top: 10px;
  }
  
  .sidebar-item-title {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar-item-title:hover {
    background-color: rgb(240, 240, 240);
  }
  
  .chevron-icon {
    margin-left: 10px;
    transition: transform 0.3s ease;
    font-size: .8rem; 
  }
  
  .sidebar-dropdown {
    padding-left: 20px;
    margin-top: 5px;
  }
  
  .sidebar-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #525252;
    text-align: left;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .sidebar-link:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #525252;
  }
  
  .active-link {
    background-color: #d1e1fe;
    color: blue;
    font-weight: 500;
  }
  .active-link:hover {
    background-color: #87CEFA; 
    color: blue; 
  }
  